.btn-link.active {
  text-decoration: underline;
}

#navigation h1 {
  height: 3.5rem;
  margin-bottom: 0.25rem;
}
#navigation h5 {
  height: 1.75rem;
  margin-bottom: 1rem;
}
#navigation h1,
#navigation h5 {
  transition: height 0.2s, margin 0.2s, padding 0.2s;
  overflow: hidden;
}

#navigation h1.hidden,
#navigation h5.hidden {
  height: 0;
  margin: 0;
  padding: 0;
}

.form-button {
  width: 12.5rem;
  margin-top: 1.5rem;
  padding: 0.5rem 0;
}

form {
  overflow: hidden;
  margin-left: auto !important;
  margin-right: auto !important;
}
form:not(.active) {
  height: 0 !important;
  margin: 0 auto !important;
}
@media (max-width: 767px) {
  form {
    max-width: 35rem;
  }
}

p {
  margin-bottom: 0;
}
.list-item {
  padding-left: 0;
}

.w-20r {
  width: 20rem;
}
.h-20r {
  height: 20rem;
}

ul {
  margin-bottom: 0;
}

.object-fit-cover {
  object-fit: cover;
}
